@use "/src/sass/main.scss" as *;

.orderHistoryWrapper {
  background-color: $brown;
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 1rem;
}

h1,
h2,
h3 {
  @include heading-text($fancy-font);
}

p {
  @include plain-text($plain-font);
}
