@use "/src/sass/main.scss" as *;

.navbarList {
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.menu {
  position: absolute;
  top: 16px;
  left: 16px;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.cart {
  position: absolute;
  top: 0px;
  left: 285px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

// .ellipse {
//   position: absolute;
//   top: 12px;
//   left: 340px;
//   height: 22px;
//   width: 22px;
//   z-index: 10;
// }
