@use "/src/sass/main.scss" as *;

.overlayWrapper {
  background-color: #ffffff;
  width: 331px;
  min-height: 550px;
  position: absolute;
  top: 60px;
  left: 23px;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartList {
  width: 300px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cartItem {
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px;
  padding: 5px;
}

.cartProduct {
  display: flex;
  flex-direction: column;
}

.overlayWrapper h1 {
  font-family: $fancy-font;
  font-size: 30px;
  margin-bottom: 30px;
}

.overlayWrapper h2 {
  font-family: $fancy-font;
  font-size: 24px;
}

.overlayWrapper h3 {
  font-family: $fancy-font;
  font-size: 20px;
  margin-bottom: 2px;
}

p {
  font-family: $plain-font;
  color: #000000;
  font-size: 14px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.counterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.bottomText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.cartBtns {
  display: flex;
}

.emptyCartBtn,
.closeCartBtn {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 50px;
  padding: 10px;
  color: #000000;
  font-size: 12px;
  cursor: pointer;
  margin: 2px;
}

.checkoutBtn {
  @include standard-button;
  background-color: #000000;
  color: #ffffff;
  width: 248px;
  padding: 10px;
  margin: 20px;
}
